@import 'assets/scss/styles.scss';

.mobile-header {
  width: 100%;
  height: $mobile-header-height;
  background-color: white;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $breakpoint-xl) {
    display: none;
  }
}

.desktop-header {
  width: 100%;
  height: $desktop-header-height;
  background-color: $primary;
  padding: 0 6rem;


  display: flex;
  align-items: center;
  justify-content: space-between;

}