@import 'assets/scss/styles.scss';

.header {
    width: 100%;
    height: $height-header;

    padding: 0 15px;
    background-color: white;

    img {
        height: 50%;
        width: auto;
    }
}
