@import "assets/scss/styles";

.filledBtn {
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.filledPrimary {
  composes: filledBtn;
  background: $primary;
  box-shadow: 0 3px 8px rgba(109, 107, 230, 0.35), inset 0 2px 2px rgba(255, 255, 255, 0.25);
}

.filledSecondary {
  composes: filledBtn;
  background: $secondary;
  box-shadow: 0 4px 8px rgba(242, 73, 115, 0.35), inset -1px -1px 2px rgba(115, 28, 50, 0.4), inset 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.outlinedBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.outlinedPrimary {
  composes: outlinedBtn;
  color: $primary;
  border: 1px solid $primary;
}

.outlinedSecondary {
  composes: outlinedBtn;
  color: $secondary;
  border: 1px solid $secondary;
}

.outlinedGray {
  composes: outlinedBtn;
  color: $grey-1;
  border: 1px solid $grey-1;
}