@import 'assets/scss/styles.scss';

.login {
  overflow: auto;
  height: 100%;
  width: 100%;
  max-width: 480px;
  padding: 1.5rem 1rem;

  @include desktop {
    @include borderedBox(2.25rem 5rem 4rem);
    height: auto;
  }
}

.timer {
  @include fsM;

  width: 100%;
  margin: 5px 0 !important;
  color: $red-1;
  font-weight: 500;
  text-align: center;
}

.timer-resend {
  font-family: RobotoBlack;
  text-decoration: underline;
  cursor: pointer;
}

.label {
  @include fsM;

  width: 100%;
  margin: 1rem 0 14px !important;
  color: colorBlack(80);
  font-weight: 500;
}

.login-header {
  position: relative;
  width: 100%;

  &__back-btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform:translateY(-50%);
  }
}

.login-body {
  position: relative;
  width: 100%;
  max-width: 250px;

  @include desktop {
    max-width: 100%;
  }

  &__title {
    @include fsL;
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    font-family: RobotoBlack;
    color: colorBlack(85);

    @include desktop {
      flex-direction: column-reverse;
    }
  }

  &__image {
    width: 163px;
    align-self: center;
  }

  &__submit {
    display: block;
    appearance: none;
    border: none;
    border-radius: 8px;
    height: 44px;
    width: 100%;
    margin: 2.5rem auto;
    background-color: $primary;
    box-shadow: 0 3px 6px rgba(109, 107, 230, 0.35), inset 0 2px 2px rgba(255, 255, 255, 0.25);
    color: #fff;

    &:disabled {
      background-color: #00000033;
      box-shadow: none;
    }

    @include desktop() {
      @include fsL;
      height: 56px;
    }
  }
}
