@import 'assets/scss/styles.scss';

.login {
    overflow: auto;
    .login-body {
        width: 100%;
        max-width: 250px;

        .title {
            @include fsL;

            width: 100%;
            font-family: RobotoBlack;
            margin: 50px 0 20px !important;
            color: colorBlack(85);
        }

        .lable {
            @include fsM;

            width: 100%;
            margin: 30px 0 10px !important;
            color: colorBlack(80);
            font-weight: 500;
        }

        .login-btn {
            width: 100%;
            padding: 10px;
            color: white;
            margin: 10px 0;
            border-radius: 8px;
            background: $primary;
            border: 1px solid $primary;
        }

        .login-btn:disabled {
            background: $primary-light;
            border: 1px solid $primary-light;
        }

        .timer {
            @include fsM;

            width: 100%;
            margin: 5px 0 !important;
            color: $red-1;
            font-weight: 500;
            text-align: center;
        }

        .timer-resend {
            font-family: RobotoBlack;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
