@import 'assets/scss/styles.scss';

$radius-card: 15px;

.homeCard {
    background-color: $bg-home-card;
    border-radius: $radius-card;

    img {
        min-height: 100%;
        width: auto;
        border-radius: 0 $radius-card $radius-card 0;
    }
}
