@import "assets/scss/styles.scss";

$size-avatar: 36px;

.profile-friend {
  &--item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  &--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    
    &__info {
      display: flex;
      align-items: center;
      &__avatar {
        img {
          @include imageFit(cover,center);
          width: $size-avatar;
          height: $size-avatar;
          border-radius: 50%;
          background: wheat;
          border: 1px solid white;
        }
      }
      &__name {
        @include fsNormal;
        color: $text-dark;
        margin-left: 10px;
        font-family: RobotoBold;
      }
    }
    &__remove {
      color: colorBlack(50);
      @include fsNormal;
      background: transparent;
    }
  }
}
