// ======================================================
// Custom Color variables
// ======================================================
$primary: #6d6be6;
$primary-light: #d5d4f7;

$red: #f24973;

$bg-login: #f7f8fc;
$bg-home: #e5e5e5;
$bg-home-card: #f5a367;

$input-bg-default: rgba(20, 35, 186, 0.05);

$text-footer: #8e8b9e;
