// ======================================================
// Custom Breakpoint variables
// ======================================================
$xxs: 320px;
$xs: 450px;
$s: 640px;
$m: 960px;
$l: 1024px;
$xl: 1366px;
$xxl: 1920px;

// ======================================================
// Custom FontSize variables
// ======================================================

$height-header: 30px;
$height-footer: 70px;
$height-body: calc(100% - #{$height-header} - #{$height-footer});

// 1400/10/20 - 03:30 - Sum (18:00')'
