// ======================================================
// Custom Breakpoint variables
// ======================================================
$breakpoint-xxs: 320px;
$breakpoint-xs: 450px;
$breakpoint-s: 640px;
$breakpoint-m: 960px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1366px;
$breakpoint-xxl: 1920px;

// ======================================================
// Custom FontSize variables
// ======================================================

$height-header: 30px;
$height-footer: 70px;
$height-body-HF: calc(100% - #{$height-header} - #{$height-footer});
$height-body-H: calc(100% - #{$height-header});
$height-body-F: calc(100% - #{$height-footer});

$height-header-goback: 60px;
$height-header-path: 45px;

// Sum: 06: 15'

// 1400/11/08 - 06: 15
