// ======================================================
// Custom Breakpoint variables
// ======================================================
$breakpoint-xxs: 320px;
$breakpoint-xs: 450px;
$breakpoint-s: 640px;
$breakpoint-m: 960px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1199px;
$breakpoint-xxl: 1920px;

// ======================================================
// Custom FontSize variables
// ======================================================

$desktop-header-height: 65px;
$mobile-header-height: 35px;
$height-footer: 70px;
$sidebar-width: 290px;
$height-body-HF: calc(100% - #{$mobile-header-height} - #{$height-footer});
$height-body-H: calc(100% - #{$mobile-header-height});
$height-body-F: calc(100% - #{$height-footer});

$height-header-goback: 60px;
$height-header-path: 45px;

// Sum: 25: 45'

// 1400/11/20 - 09: 00
// 1400/11/19 - 07: 45
// 1400/11/16 - 03: 30
// 1400/11/15 - 05: 30
