@import './color';

#seachbox {
    .MuiOutlinedInput-root {
        width: 100%;
        height: 35px;
        border-radius: 15px !important;
        background-color: $bg-seachbox;
    }
}

#tabs {
    max-width: 722px;
    margin: auto;
    .MuiAppBar-root {
        background-color: $bg-home;
        color: $grey-1;
        border-bottom: 1px solid #0000001f;
    }

    .MuiTab-root {
        font-family: Roboto sans-serif;
        min-height: 30px;
    }

    .MuiPaper-elevation4 {
        box-shadow: unset;
    }

    .Mui-selected {
        background-color: $primary;
        color: white;
        border-radius: 6px;
        margin: 5px;
    }
}
