._modal-center {
    width: 100%;
    height: 100%;
    background-color: transparent;

    ._modal-body {
        width: fit-content;
        // min-width: 50%;
        max-width: 90%;
        max-height: 90%;
        overflow-y: auto;

        border-radius: 8px;
        background-color: white;
    }
}

._modal-backdrop {
    background: rgba(33, 33, 51, 0.7);
    backdrop-filter: blur(4px);
}

._modal-content-box {
    background-color: white;
    border-radius: 1rem;
}

._modal-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
