// ======================================================
// Mixin
// ======================================================
@mixin btnMain() {
  width: 100%;
}

@mixin fsS() {
  font-size: 10px;
}
@mixin fsM() {
  font-size: 14px;
}
@mixin fsL() {
  font-size: 16px;
}
@mixin fsXL() {
  font-size: 18px;
}
@mixin fsXXL() {
  font-size: 20px;
}
@mixin fsXXXL() {
  font-size: 24px;
}

// ======================================================
// Function
// ======================================================
@function colorBlack($opacity) {
  @return rgba(0, 0, 0, $opacity / 100);
}

@function colorWhite($opacity) {
  @return rgba(255, 255, 255, $opacity / 100);
}
