// ======================================================
// Mixin
// ======================================================
@import './dimensions';
@import './font';

@mixin desktop() {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin limitContent {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@mixin btnMain() {
  width: 100%;
}

@mixin fsXS() {
  font-size: 10px;
}
@mixin fsS() {
  font-size: 11px;
}
@mixin fsNormal() {
  font-size: 12px;
}
@mixin fsSM() {
  font-size: 13px;
}
@mixin fsM() {
  font-size: 14px;
}
@mixin fsL() {
  font-size: 16px;
}
@mixin fsXL() {
  font-size: 18px;
}
@mixin fsXXL() {
  font-size: 20px;
}
@mixin fsXXXL() {
  font-size: 24px;
}

@mixin fontSize($mobile, $desktop: false) {
  font-size: $mobile;

  @if $desktop {
    @include desktop {
      font-size: $desktop;
    }
  }
}

@mixin bullet($size, $color, $radius: 100%) {
  width: $size;
  height: $size;
  display: inline-block;
  border-radius: $radius;
  background-color: $color;

  @include desktop {
    width: calc(2 * #{$size});
    height: calc(2 * #{$size});
  }
}

@mixin avatarShape($size, $color: white) {
  width: $size;
  height: $size;
  border-radius: 100%;
  background: $color;
  border: 1px solid white;
}

@mixin pageTitle() {
  @include fontSize($fs-l, $fs-xxl);

  font-family: RobotoBlack;
  color: colorBlack(80);
}

@mixin pageSubTitle() {
  @include fsM;
  color: colorBlack(50);
}

@mixin centerInBox() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin imageFit($fit: cover, $position: center) {
  object-fit: $fit;
  object-position: $position;
}

@mixin box(
  $box-border-radius: 12px,
  $box-shadow: 0px 3px 5px rgba(39, 39, 40, 0.1),
  $box-background: #ffffff,
  $box-width: auto
) {
  background: $box-background;
  width: $box-width;
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
}

@mixin borderedBox($padding) {
  border-radius: 1.5rem;
  border: 1px solid #00000033;
  padding: $padding;
}

@mixin stickyHeader() {
  position: sticky;
  top: 0;
  z-index: 99;
}

// ======================================================
// Function
// ======================================================
@function colorBlack($opacity) {
  @return rgba(0, 0, 0, $opacity / 100);
}

@function colorWhite($opacity) {
  @return rgba(255, 255, 255, $opacity / 100);
}
