@import './form';
@import './font';
@import './color';
@import './basic';
@import './utility';
@import './dimensions';

._header {
    height: $height-header;
}

._footer {
    height: $height-footer;
}

._body-height-HF {
    height: $height-body-HF;
}

._body-height-H {
    height: $height-body-H;
}

._body-height-F {
    height: $height-body-F;
}

// ------------------------------------------- Test
.br1 {
    border: 1px solid red;
}
.br2 {
    border: 1px solid blue;
}
.br3 {
    border: 2px solid green;
}
.bg1 {
    background-color: bisque;
}
.bg2 {
    background-color: aquamarine;
}
