@import 'assets/scss/styles.scss';

.headerGoBack {
    @include fsM;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60px;

    .padding {
        padding: 20px;
    }
}
