@import "assets/scss/styles";

.wait-for-start {
    background-color: $waitBg;
    // background-image: url('../../../../assets/images/backgrounds/waitForStart.png');
    padding-top: 57px;
    background-position: center;
    background-size: cover;
    z-index: 10;
    position: relative;
    @media (min-width: 1200px) {
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1500;
    }
    &__personsIcon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include desktop {
            left: calc(50% - 310px);
            width: 619px;
        }
    }
    &__circlesIcon {
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        z-index: -1;
        @include desktop {
            top: 100px;
            width: 400px;
        }
    }
    &__circleIcon {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        z-index: -1;
        @include desktop {
            width: 300px;
        }
    }
    &__title {
        height: 38px;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: center;
        margin-bottom: 70px;
        z-index: 10;
        & > p {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 38px;
        }
    }
    &__user-info {
        width: 100%;
        padding: 0 44px;
        display: flex;
        align-items: center;
        z-index: 10;

        @media (min-width: 1200px) {
            max-width: 680px;
            margin: 0 auto;
        }
        &--avatar {
            width: 74px;
            height: 74px;
            border: 3px solid #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: 15px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--name {
            & > p {
                color: #fff;
                &:nth-child(1) {
                    font-size: 16px;
                    line-height: 19px;
                }
                &:nth-child(2) {
                    font-size: 12px;
                    line-height: 14px;
                    margin-top: 4px;
                }
            }
        }
    }
    &__user-info-pull-right {
        direction: rtl;
        &--avatar {
            margin-left: 15px;
            margin-right: 0;
        }
    }
    &__divider-container {
        width: calc(100% - 48px);
        height: 2px;
        background-color: #eeb21780;
        margin: 45px auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 1200px) {
            max-width: 300px;
            transform: rotate(-45deg);
            margin: 45px auto;
        }
        & > img {
            position: absolute;
        }
    }
}
