@import 'assets/scss/styles.scss';

//----card-image
$played-history-image-width: 71px;
$played-history-image-height: 36px;
$played-history-image-border-radius: 8px;
//----card-title
$played-history-title-color: $text-dark;
$played-history-weight: normal;
//----card-category
$played-history-category-color: $text-footer;
//----card-title
$played-history-position-color: $primary;

.played-history-card {
  @include fsXS;

  display: flex;
  padding: 15px 12px;
  align-items: start;
  border-bottom: 1px solid $bg-seachbox;

  &--image {
    img {
      @include imageFit;
      width: $played-history-image-width;
      height: $played-history-image-height;
      margin-right: 7px;
      border-radius: $played-history-image-border-radius;

      @include desktop {
        width: 118px;
        height: 60px;
      }
    }
  }

  &--content {
    text-align: left;

    @include desktop {
      @include fsL;

      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 1.5rem;
    }

    &__title {
      color: $played-history-title-color;
      font-weight: $played-history-weight;

      @include desktop {
        @include fsXL;
      }
    }

    &__category {
      color: $played-history-category-color;
      font-size: 8px;
      font-weight: $played-history-weight;
      margin-bottom: 3.5px;

      @include desktop {
        font-size: inherit;
      }
    }

    &__position {
      color: $played-history-position-color;
      font-weight: $played-history-weight;
    }
  }
}
