@import "assets/scss/styles";

.bestPlayers {
  display: flex;
  gap: 1rem;
  padding: 0 1.5rem;

  @include desktop {
    gap: 3.5rem;
    padding: 0 4rem;
  }
}

.center {
  justify-content: center;
}

.player {
  display: grid;
  place-items: center;
  flex-shrink: 1;
  padding: 10px;
  width: 88px;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(39, 39, 40, 0.1);

  @include desktop {
    width: 171px;
  }
}

.image {
  @include desktop {
    width: 88px;
    height: 100px;
  }
}

.best {
  transform: translateY(-20px);
}

.avatar {
  margin: 0 auto;
}

.username {
  @include fontSize($fs-xs, $fs-l);
  padding-top: 5px;
  text-align: center;

  @include desktop {
    padding: 5px 0;
  }
}
