@import "assets/scss/styles";

.container {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    padding: 58px 0;
  }
}

.title {
  @include fontSize($fs-xl, $fs-xxl);
  color: $primary;
}

.subtitle {
  @include fontSize($fs-l, $fs-xxl);
  font-weight: 300;
}

.image {
  display: inline-block;
  margin: 40px 0;

  @include desktop {
    margin: 40px 0 48px;
    width: 410px;
    height: 400px;
  }
}

.button {
  font-size: $fs-m;
  padding: 12px 30px !important;
  display: flex;
  align-items: center;
  gap: 12px;

  @include desktop {
    padding: 14px 44px !important;
  }
}

.linkIcon {
  @include svg-icon('/assets/images/icons/link.svg' ,14px ,14px);
  @include svg-icon-color(#fff);
}