@import "assets/scss/styles.scss";

$p-ftpoic-card-height: 95px;
$p-ftopic-image-width: 107px;
$p-ftopic-border-radius: 8px;
$p-ftopic-box-shadow: 0px 2px 4px rgba(91, 90, 99, 0.15);
// --------content--title
$p-ftopic-title-color: #2C2C2C;
$p-ftopic-title-size: 12px;
$p-ftopic-title-weight: 500px;
$p-ftopic-title-line-height: 14px;
// --------content--details
$p-ftopic-details-color: $grey-1;
$p-ftopic-details-size: 10px;
$p-ftopic-details-weight: normal;
$p-ftopic-details-line-height: 12px;
// --------content--stars
$p-ftopic-stars-color: $gold;
$p-ftopic-stars-size: 8px;
$p-ftopic-stars-weight: 500;
$p-ftopic-stars-line-height: 9px;
// --------content--rates
$p-ftopic-rates-color: #000000;
$p-ftopic-rates-size: 8px;
$p-ftopic-rates-weight: normal;
$p-ftopic-rates-line-height: 9px;

.p-favorite-topic--card {
  background-color: #ffffff;
  display: flex;
  width: auto;
  height: $p-ftpoic-card-height;
  margin: 0 24px 8px 24px;
  border-radius: $p-ftopic-border-radius;
  box-shadow: $p-ftopic-box-shadow;

  &__img {
    @include imageFit;
    width: $p-ftopic-image-width;
    height: 100%;
    border-top-left-radius: $p-ftopic-border-radius;
    border-bottom-left-radius: $p-ftopic-border-radius;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 10px;

    &__header {
      text-align: left;

      &__title {
        color: $p-ftopic-title-color;
        font-size: $p-ftopic-title-size;
        font-weight: $p-ftopic-title-weight;
        line-height: $p-ftopic-title-line-height;
        margin-bottom: 8.5px;
      }

      &__details {
        color: $p-ftopic-details-color;
        font-size: $p-ftopic-details-size;
        font-weight: $p-ftopic-details-weight;
        line-height: $p-ftopic-details-line-height;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__category {
        color: $p-ftopic-details-color;
        font-size: $p-ftopic-details-size;
        font-weight: $p-ftopic-details-weight;
        line-height: $p-ftopic-details-line-height;
      }

      &__rating {
        display: flex;
        align-items: center;

        &__stars {
          span {
            margin-left: 4px;
          }

          color: $p-ftopic-stars-color;
          font-size: $p-ftopic-stars-size;
          font-weight: $p-ftopic-stars-weight;
          line-height: $p-ftopic-stars-line-height;
        }

        &__rates {
          margin-left: 10px;
          color: $p-ftopic-rates-color;
          opacity: 20%;
          font-size: $p-ftopic-rates-size;
          font-weight: $p-ftopic-rates-weight;
          line-height: $p-ftopic-rates-line-height;
        }
      }
    }
  }
}
