@import "assets/scss/styles.scss";

$mobile-gap : .75rem;
$desktop-gap : 1rem;

.favorite-topics-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $mobile-gap;
  padding: 0 1.5rem;

  @include desktop {
    padding: 0;
    gap: $desktop-gap;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

