@import "../../../assets/scss/styles";

.btn {
  @include fontSize($fs-xs, $fs-l);
  padding: 12px 72px;
  text-align: center;
  cursor: pointer;

  &:not(:last-of-type) {
    border-bottom: $divider ;
  }
}

.remove {
  composes: btn;
  color: $red-2;
}

.cancel {
  composes: btn;
  color: $grey-1;
}