@import 'assets/scss/styles.scss';

$size-avatar: 60px;

.profile {
    .profile-header {
        padding: 50px 30px 30px;
        background-color: $primary;

        .avatar {
            width: $size-avatar;
            height: $size-avatar;
            border-radius: 100%;
            background: wheat;
            border: 1px solid white;
        }

        .name {
            @include fsM;

            padding: 15px 0 5px;
            color: white;
            font-family: RobotoBold;
        }

        .level {
            @include fsNormal;

            color: white;
        }

        .close {
            margin-top: 0 !important;
            margin-top: 0 !important;

            img {
            }
        }
    }
    .profile-body {
    }
}
