@import "assets/scss/styles.scss";

.notif-widget {
  @include fsNormal;
  padding: 1.4rem var(--space-x) 0;

  @include desktop {
    @include fsM;
  }
}

.notif-widget-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;

  &__info-wrapper {
    flex-basis: 150px;

    @include desktop {
      flex-basis: 165px;
    }
  }

  &__accept ,&__see-details ,&__reject {
    cursor: pointer;
    @include desktop {
      @include fsL;
    }
  }

  &__desc ,&__accepted ,&__reject {
    color: $grey-1;
    font-family: RobotoThin ,'serif';
    font-weight: 600;
  }

  &__see-details ,&__accept {
    color: $primary;
  }

  &__see-details ,&__controls ,&__accepted {
    margin-left: auto;
  }

  &__controls {
    display: inline-flex;
    gap: 1.25rem;
  }

  &__desc {
    line-height: 1rem;

    @include desktop {
      line-height: 1.25rem;
    }
  }
}