@import 'assets/scss/styles.scss';

.home {
    background-color: $bg-home;
    .home-body {
        padding: 20px 0;
        overflow-y: auto;

        .card-league {
            padding: 20px !important;
        }
    }
}

.topics {
    .topics-header {
        padding: 15px;

        .title {
            @include pageTitle;
        }

        .subtitle {
            @include fsM;
            color: colorBlack(50);
            cursor: pointer;
        }
    }
}
