@import "assets/scss/styles.scss";

$profile-header-image-height: 135px;
$profile-header-height: 225px;
$profile-header-avatar: 54px;
$profile-info-padding-top: 4px;
/* ------Header Info------- */
$profile-header-info-height: 84px;
$profile-header-info-boxShadow: 0px 3px 5px rgba(94, 92, 106, 0.1);
/* ------Header Name------- */
$profile-name-font-weight: 500;
$profile-name-font-color: #2C2C2C;
/* ------Header Level------- */
$profile-level-font-weight: 400;
/* ------Tab------- */
$tab-bar-height: 2.5px;

@function calculateAvatarTranslate() {
  @return -(($profile-header-avatar / 2) + $profile-info-padding-top)
}

.profile-header {
  --cover-height: 135px;
  --info-height: 84px;
  --header-height: 225px;
  --avatar-height: 54px;
  --avatar-margin-left: 1.5rem;

  @include desktop {
    --cover-height: 260px;
    --info-height: 78px;
    --header-height: 335px;
    --avatar-height: 100px;
    --avatar-margin-left: 3.375rem;
  }

  width: 100%;
  flex-shrink: 0;
  position: relative;

  @include desktop {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: var(--cover-height);
  }

  &__pic {
    transform: translateY(-50%);
    margin-right: 4px;
  }

  &__name {
    @include fontSize($fs-m ,$fs-xl);
  }

  &__level {
    @include fontSize($fs-normal, $fs-l);
    color: $grey-1;
  }

  &__edit {
    cursor: pointer;

    &_mobile {
      display: grid;
      place-items: center;
      width: 32px;
      height: 32px;
      background-color: #00000040;
      border-radius: 4px;
      position: absolute;
      top: 30px;
      right: 24px;

      @include desktop {
        display: none;
      }
    }

    &_desktop {
      color: $red-2;
      display: none;

      &:hover {
        color: $red-2;
      }

      @include desktop {
        display: flex;
        align-items: center;
        gap: .5rem;
      }
    }
  }

  &__info {
    padding: 0 var(--avatar-margin-left);
    max-height: var(--info-height);
    display: flex;
  }
}


