@import "assets/scss/styles.scss";

.profile-no-topics {
  img {
    width: 214px;
    height: 200px;
    text-align: center;
  }

  &__text {
    @include fsM;
    font-weight: 500;
    color: #F53636;
    margin: 10px 0;
  }
}
