@import "assets/scss/styles.scss";

.profile--contents {
  flex: 1 1 auto;
  background-color: $bg-profile;
  width: 100%;
  overflow-y: auto;
  padding: 20px 0;
  text-align: center;

  @include desktop {
    flex-shrink: 0;
  }
}
