@import "../../../assets/scss/styles.scss";

$profile-header-image-height: 135px;
$profile-header-height: 225px;
$profile-header-avatar: 54px;
$profile-info-padding-top: 4px;
/* ------Header Info------- */
$profile-header-info-height: 84px;
$profile-header-info-boxShadow: 0px 3px 5px rgba(94, 92, 106, 0.1);
/* ------Header Name------- */
$profile-name-font-weight: 500;
$profile-name-font-color: #2C2C2C;
/* ------Header Level------- */
$profile-level-font-weight: 400;
/* ------Tab------- */
$tab-bar-height: 2.5px;

@function calculateAvatarTranslate() {
  @return -(($profile-header-avatar / 2) + $profile-info-padding-top)
}

.profile--header {
  width: 100%;
  height: $profile-header-height;
  position: relative;
  &__image {
    object-fit: cover;
    object-position: top;
    height: $profile-header-image-height;
  }
  &__info {
    padding: $profile-info-padding-top 25px 0 25px;
    display: flex;
    // height: $profile-header-info-height;
    border-radius: 0px;
    &__pic {
      @include avatarShape($profile-header-avatar);
      border: none;
      transform: translateY(calculateAvatarTranslate());
      margin-right: 4px;
    }
    &__name {
      @include fsM;
      color: $profile-name-font-color;
      font-weight: $profile-name-font-weight;
    }
    &__level {
      @include fsNormal;
      color: $grey-1;
      font-weight: $profile-level-font-weight;
    }
  }
}

