@import "assets/scss/styles.scss";

$profile-header-info-boxShadow: 0px 3px 5px rgba(94, 92, 106, 0.1);

.profile--tabs {
  @include fontSize($fs-m, $fs-xxl);

  padding: 0;
  box-shadow: $profile-header-info-boxShadow;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;

  @include desktop {
    box-shadow: none;
    border-bottom: 1px solid #00000033;
  }

  &__tab {
    flex-grow: 1;
    height: 100%;
    padding: .75rem 1.5rem;
    position: relative;
    text-align: center;
    white-space: nowrap;

    @include desktop {
      padding-top: 1.75rem;
      flex-grow: 0;
    }

    &__text {
      color: $grey-1;
    }

    &__bar {
      background-color: $primary;
      height: 2.5px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
}

.profile--tabs__tab.profile-active-tab > a span.profile--tabs__tab__text {
  color: $primary;
}
