

.wait-for-start-single {
    background-color: #282680;
    background-image: url('../../../../assets/images/backgrounds/singleGameBg.svg');
    padding-top:117px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    @media (min-width: 1366px) {
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left:0;
    }
    &__title {
        height:38px;
        // background-color:rgba(255,255,255,0.2);
        text-align: center;
        &>p{
            color:#fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 38px;
            @media (min-width: 1366px) {
                font-size: 20px;

            }
        }
    }
  

    
}
