@import 'assets/scss/styles.scss';

.cardTopic {
    .card-img {
        height: 60%;
        min-height: 60%;
        width: 100%;
        overflow: hidden;
        border-radius: 15px 15px 0 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .card-info {
        padding: 2px 5px;
        height: 40%; // TEMP
        // min-height: 30%;
        .title {
            @include fsNormal;
            color: colorBlack(85);
            // font-weight: 600;
            font-family: RobotoBold;
        }
        .subtitle {
            @include fsNormal;
            color: colorBlack(65);
            font-weight: 500;
        }
        .rate {
            @include fsNormal;
            color: $orange-2;
            font-weight: 500;
        }
    }
}
