@import 'assets/scss/styles.scss';

.cardTopic {
    cursor: pointer;
    min-width: calc(clamp(100px, 40%, 200px));
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(39, 39, 40, 0.1);

    .card-img {
        flex-grow: 1;
        width: 100%;
        height: 70%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-info {
        height: 30%;
        @include fontSize($fs-normal ,$fs-m);
        padding: 2px 8px;

        @include desktop {
            padding: 6px 8px 10px;
        }

        .title {
            padding-bottom: .25rem;
            color: colorBlack(85);

            @include desktop {
                padding-bottom: .5rem;
            }
        }
        .subtitle {
            @include fontSize($fs-xs ,$fs-m);
            color: colorBlack(65);
        }
        .rate {
            color: $orange-2;
            font-weight: 500;
        }
    }
}
