@import 'assets/scss/styles.scss';

$height-footer-inner: 70px;

$size-square: 40px;
$size-avatar: 30px;

.topicsInner {
  @include limitContent;

  background-color: $bg-home;

  @include desktop {
    padding-top: 2rem;
  }
}

.topicsInner-body {
  padding: 20px 24px;

  @include desktop {
    padding: 32px 0;
    overflow-y: visible;
    height: auto;
  }

  .description {
    .title {
      @include fontSize($fs-m, $fs-xxl);
      padding-top: 1.5em;
    }

    .text {
      @include fsM;
      padding-top: 10px;
      line-height: 22px;
      color: colorBlack(50);
    }
  }

  .badges {
    margin: 20px 0;

    .badge {
      @include fsNormal;
      padding: 5px;
      cursor: pointer;
      margin: 8px 3px;
      border-radius: 8px;
      color: colorBlack(50);
      border: 1px solid $grey-1;
    }
  }

  .board {
    .title {
      @include fontSize($fs-m, $fs-xxl);
      padding: 20px 0;
    }
  }
}

.topicsInner-footer {
  height: $height-footer-inner;
  background-color: white;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  .icon {
    width: 15.5px;
    path {
      fill: #fff;
    }
  }
}

.btn-play {
  @include fsL;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: calc(min(50%, 200px));
  background-color: $bg-btn-play;
  border: 1px solid $bg-btn-play;
  box-shadow: 0 3px 6px rgba(248, 63, 95, 0.3);
}

.card-inner-icons {
  @include fontSize($fs-xs ,$fs-l);

  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: .5rem 0;

  @include desktop {
    padding: 0;
    max-width: 130px;
    flex-wrap: wrap;
    gap: 24px;
  }

  .grey {
    color: colorBlack(50);
  }

  .gold {
    color: $orange-2;

  }
}

.card-inner-actions-buttons {
  @include desktop {
    display: flex;
    gap: 1.75rem;
    padding-top: 16px;
  }

  .add,
  .remove {
    @include fsM;
    cursor: pointer;
    flex-grow: 1;

    @include desktop {
      box-shadow: 0 3px 6px rgba(149, 66, 87, 0.15), inset -1px -1px 2px rgba(111, 92, 97, 0.3),
      inset 1px 1px 2px rgba(255, 255, 255, 0.4);
      padding: 10px;
      border-radius: 10px;
      width: calc(min(50%, 220px));
    }
  }

  .add {
    color: $red-1;
  }

  .remove {
    color: $grey-1;
    white-space: nowrap;
    padding-top: .75rem;
  }

  .icon {
    width: 13px;

    @include desktop {
      width: 18px;
    }
  }
}
