@import 'assets/scss/styles.scss';

$mobile-item-height: 150px;
$desktop-item-height: 290px;


.topicsSeeAll {
    @include limitContent;

    padding: 0 20px 20px;
    height: 100vh;
    overflow: auto;

    .topicsSeeAll-body {
        @include desktop {
            padding-top: 2rem;
        }
    }

    .header-breadcrumb {
        height: 60px;
        background: $bg-home;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .topicsSeeAll-item {
        height: $mobile-item-height;
        width: 50%;
        padding: 5px;

        @include desktop {
            width: 33.33%;
            height: $desktop-item-height;
        }
    }
}
