@import "assets/scss/styles";

.container {
  @include limitContent;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 28px 24px 0;

  @include desktop {
    padding: 40px 0;
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 12px;

  @include desktop {
    gap: 28px;
  }
}

.avatar {
  margin-right: 4px;
}

.username {
  @include fontSize($fs-m, $fs-xl);
}

.level {
  @include fontSize($fs-normal, $fs-l);
  color: $grey-1;
}

.backButton {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 20px;
  left: 1.5rem;

  @include desktop {
    display: none;
  }
}

