@import 'assets/scss/styles.scss';

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  border: 1px solid $bg-home;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}