@import 'assets/scss/styles';

.playButton {
  @include fsL;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: calc(min(50%, 200px));
  background-color: $bg-btn-play;
  border: 1px solid $bg-btn-play;
  box-shadow: 0 3px 6px rgba(248, 63, 95, 0.3);
}