@import "assets/scss/styles.scss";

$search-icon-width: 22px;
$search-icon-height: 22px;

.search--box {
  @include fontSize($fs-normal, $fs-l);
  position: relative;
  width: auto;
  margin: 0 24px;

  @include desktop {
    margin: 0;
  }

  &__input {
    width: 100%;
    background-color: $bg-seachbox;
    color: $grey-1;
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 12px;

    @include desktop {
      padding: 10px 15px;
      border-radius: 16px;
    }
  }

  &__icon {
    @include svg-icon('/assets/images/icons/search-primary-icon.svg' ,20px ,20px);
    @include svg-icon-color($primary);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
