@import 'assets/scss/styles.scss';

.countdownTimer {
    .colon,
    .box {
        @include fontSize($fs-m, $fs-xxxl);

        font-weight: 500;
        text-align: center;
        color: white;
        margin: 2px !important;
    }

    .box {
        min-width: 20px;
        min-height: 20px;
        background-color: $secondary;
        border-radius: 4px;

        box-shadow: 0 1px 2px rgba(118, 112, 112, 0.25), inset 2px 2px 4px #E67E97, inset -2px -2px 4px #D24065;

        @include desktop {
            min-width: 44px;
            min-height: 44px;
        }
    }

    .box-history {
        background-color: $grey-2;
        box-shadow: none;
    }

    @include desktop {
        .colon,
        .box {
            line-height: 44px;
        }
    }
}

#primaryWhiteBlack {
    .countdownTimer {
        .colon {
            color: black;
        }
        .box {
            color: white;
            background-color: $primary;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(118, 112, 112, 0.25), inset 2px 2px 4px #9A98F3, inset -2px -2px 4px #5B59BD;
        }
    }
}

// DELETE // for test
@media screen and (max-width: 370px) {
    .countdownTimer {
        .box {
            min-width: 12px;
        }
    }
}

.countDownTimerGrand {
    .icon-bomb {
        margin-right: 5px !important;
    }
    .colon,
    .box {
        @include fontSize($fs-m, $fs-xxxl);
        font-weight: 500;
        text-align: center;
        color: white;
        margin: 2px !important;
    }
}

.countdownTimerSecond {
}
