@import 'assets/scss/styles.scss';

$radius-card: 15px;

.cardLeagueInfo {
    // background-color: $bg-home-card;
    border-radius: $radius-card;
    // background: url('../../../assets/images/test/2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

    .btn-enter {
        width: 20%;
        position: absolute;
        bottom: 10px;
        left: 40%;
        @include fsM;
        color: white;
        padding: 5px;
        border-radius: 4px;
        background-color: $green-1;
        cursor: pointer;
        .icon {
            @include fsS;
            margin: 0 5px;
        }
    }

    // .enter {
    //     position: relative;

    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    //     text-align: center;
    //     }

    img {
        min-height: 100%;
        width: auto;
        border-radius: 0 $radius-card $radius-card 0;
    }

    .card-logo {
        max-width: 100%;
        overflow: hidden;
    }

    .cardLeagueInfo-info {
        padding: 10px;

        .bullet {
            @include bullet(8px, $green-1);
            margin-right: 10px;
        }

        .bullet-red {
            @include bullet(8px, $red-1);
        }

        .title {
            color: white;
            font-weight: 500;

            // max-width: 100px;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
        }

        .timer {
        }

        .price {
            @include fsM;
            width: fit-content;
            color: $orange-1;
            background-color: white;
            padding: 3px 8px;
            border-radius: 4px;
            margin: 5px 0 !important;
            font-weight: 500;
        }

        .players {
            @include fsS;
            font-weight: 500;

            color: $grey-1;
            p {
                margin: 0 5px;
            }
        }

        .date {
            @include fsM;
            color: $grey-1;
        }
    }

    .ratio::before {
        display: unset !important;
    }
}

.expired {
    position: relative;

    width: 100%;
    height: 100%;
    z-index: 1;

    .expired-empty {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: $radius-card;
        background-color: colorBlack(50);

        .img-expired {
            max-width: 22%;
            height: auto;
            right: 20px;
            position: absolute;
        }
    }
}

@media screen and (max-width: $breakpoint-s) {
    .btn-enter {
        width: 30% !important;
        left: 35% !important;
    }
}
