@import 'assets/scss/styles.scss';

$mobile-height-header-inner: 280px;
$desktop-height-header-inner: 220px;
$height-footer-inner: 70px;
$height-body-inner: calc(100vh - #{$mobile-height-header-inner} - #{$height-footer-inner});

$size-square: 40px;
$size-avatar: 30px;

.leaguesInner {
    @include limitContent;

    background-color: $bg-home;

    @include desktop {
        padding-top: 2rem;
    }

    .title {
        @include fontSize($fs-m, $fs-xxxl);
        font-family: RobotoBold;
    }

    .leaguesInner-body {
        padding: 0 20px;
        padding-bottom: calc(#{$height-footer} + 1.5rem);

        @include desktop {
            padding: 32px 0;
            overflow-y: visible;
            height: auto;
        }

        .description {
            .title {
                @include fontSize($fs-l ,$fs-xxl);
                padding-top: 20px;
            }

            .text {
                @include fontSize($fs-normal ,$fs-l);
                padding-top: 10px;
                line-height: 22px;
                color: colorBlack(50);
            }
        }

        .awards {
            &__container {
                display: flex;
                flex-direction: column;
                gap: 3px;

                @include desktop {
                    flex-direction: row;
                    gap: 1.75rem;
                }
            }

            .title {
                @include fontSize($fs-m, $fs-xxl);
                padding-top: 20px;
                padding-bottom: .5rem;

                @include desktop {
                    padding-top: 32px;
                    padding-bottom: 20px;
                }
            }

            .key ,.value {
                @include fontSize($fs-normal, $fs-l);
            }

            .key {
                color: $primary;
            }
            .value {
                color: colorBlack(50);
            }
        }

        .board {
            @include fontSize($fs-m, $fs-xxl);
            padding-top: 20px;

            .title {
                padding: .5rem 0;

                @include desktop {
                    padding: 1rem 0;
                }
            }

            .your-position {
                @include fontSize($fs-normal, $fs-l);
                color: $red-2;
            }
        }
    }
    .leaguesInner-footer {
        height: $height-footer-inner;
        background-color: white;
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }
}

.league-card-inner-content {
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        flex-direction: column;
    }

    &__player-num {
        @include fontSize($fs-normal, $fs-l);
        color: colorBlack(50);
        min-width: 100px;

        @include desktop {
            align-self: start;
            order: -1;
        }
    }
}

.btn-play {
    @include fsL;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: calc(min(50%, 200px));
    background-color: $bg-btn-play;
    border: 1px solid $bg-btn-play;
    box-shadow: 0px 3px 6px rgba(248, 63, 95, 0.3);
}
