@import 'assets/scss/styles.scss';

.history {
    @include limitContent;

    .history-header {
        @include stickyHeader;
        font-size: $fs-m;
        height: $mobile-header-height;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

        @include desktop {
            display: none;
        }
    }

    .history-body {
        padding: 1.25rem 1.5rem;

        @include desktop {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}
