@import 'assets/scss/styles.scss';

$mobile-height-header-inner: 280px;
$desktop-height-header-inner: 220px;
$height-footer-inner: 70px;
$height-body-inner: calc(100vh - #{$mobile-height-header-inner} - #{$height-footer-inner});

$size-square: 40px;
$size-avatar: 30px;

.leaguesInner {
    @include limitContent;

    background-color: $bg-home;

    @include desktop {
        padding-top: 2rem;
    }

    .title {
        @include fontSize($fs-m, $fs-xxxl);
        font-family: RobotoBold;
    }

    .leaguesInner-header {
        background-color: white;
        height: $mobile-height-header-inner;
        border-radius: 0 0 16px 16px;
        box-shadow: 0 3px 5px rgba(94, 92, 106, 0.1);

        @include desktop {
            height: $desktop-height-header-inner;
            border-radius: 16px;
            display: flex;
            overflow: hidden;
        }

        .sec-img {
            width: 100%;
            height: 60%;
            padding: 20px;
            // background: url('../../../assets/images/test/4.png');

            background-size: 100% auto;
            background-repeat: no-repeat;
            position: relative;

            @include desktop {
                width: 50%;
                height: 100%;
                background-size: cover;
            }

            p {
                color: white;
                border-radius: 4px;
                width: $size-square;
                height: $size-square;
                background-color: colorBlack(30);
            }
        }

        .sec-info {
            flex-grow: 1;
            padding: 5px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include desktop {
                padding: 13px 21px;
            }

            .subtitle {
                @include fsM;
                padding-top: 10px;
                color: colorBlack(55);
            }

            .grey {
                color: colorBlack(50);
            }
        }
    }
    .leaguesInner-body {
        padding: 0 20px 20px;

        @include desktop {
            padding: 32px 0;
            overflow-y: visible;
            height: auto;
        }

        .description {
            .title {
                @include fsL;
                padding-top: 20px;
                font-family: RobotoBold;
            }

            .text {
                @include fsM;
                padding-top: 10px;
                line-height: 22px;
                color: colorBlack(50);
            }
        }

        .awards {
            .title {
                @include fsL;
                padding-top: 20px;
                font-family: RobotoBold;
            }

            .key {
                @include fsM;
                color: $primary;
                font-family: RobotoBold;
            }
            .value {
                @include fsM;
                color: colorBlack(50);
            }
        }

        .board {
            padding-top: 20px;

            .title {
                padding: 20px 0;
                @include fsL;
                font-family: RobotoBold;
            }
        }
    }
    .leaguesInner-footer {
        height: $height-footer-inner;
        background-color: white;
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }
}

.league-card-inner-content {
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        flex-direction: column;
    }

    &__player-num {
        @include fontSize($fs-normal, $fs-l);
        color: colorBlack(50);
        min-width: 100px;

        @include desktop {
            align-self: start;
            order: -1;
        }
    }
}

.btn-play {
    @include fsL;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: calc(min(50%, 200px));
    background-color: $bg-btn-play;
    border: 1px solid $bg-btn-play;
    box-shadow: 0px 3px 6px rgba(248, 63, 95, 0.3);
}
