@import 'assets/scss/styles.scss';

.leaderboard {
    background-color: $bg-home;

    .leaderboard-body {
        padding: 20px 24px;

        @include desktop {
            padding-bottom: 2.875rem;
        }
    }
}
