@import 'assets/scss/styles';

//---card-image
$p-h-card-image-width: 55px;
$p-h-card-image-height: 28.5px;
$p-h-card-image-border-radius: 4px;
//---card-title
$p-h-card-title-color: $text-dark;
$p-h-card-title-size: 10px;
$p-h-card-title-weight: normal;
//---card-date
$p-h-card-date-color: $text-footer;
$p-h-card-date-size: 8px;
$p-h-card-date-weight: normal;
//---card-details
$p-h-card-details-size: 10px;
$p-h-card-details-weight: normal;
$p-h-card-details-gap: 20px;
//---card-score
$p-h-card-score-color: $primary;
//---card-position
$p-h-card-position-color: $secondary;
//---card-reward
$p-h-card-reward-color: $gold;

// .participating-history-img {
//   img {
//     max-width: 55;
//     max-height: 30;
//     width: auto;
//     height: auto;
//     border-radius: $p-h-card-image-border-radius;
//   }
// }

.participating-history-card--container {
  display: flex;
  padding: 8px 4px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #EEEDF7;
  }
}

.participating-title {
  @include fontSize($fs-xs, $fs-l);
}

.participating-history-card {
  display: flex;
  align-items: start;

  &--image {
    img {
      @include imageFit;
      width: $p-h-card-image-width;
      height: $p-h-card-image-height;
      margin-right: 4px;
      border-radius: $p-h-card-image-border-radius;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

      @include desktop {
        width: 102px;
        height: 53px;
        margin-right: 1.2rem;
      }
    }
  }

  &--content {
    @include fontSize($fs-xs, $fs-l);

    display: flex;
    flex-direction: column;
    align-items: start;

    &__title {
      @include fontSize($fs-xs, $fs-l);
      color: $p-h-card-title-color;
      font-weight: $p-h-card-title-weight;

      @include desktop {
        @include fsXL;
      }
    }

    &__date {
      @include fontSize(8px, $fs-l);
      color: $p-h-card-date-color;
      margin-top: 4px;
    }

    &__details {
      display: flex;
      margin-top: 11px;
      align-items: center;
      gap: $p-h-card-details-gap;

      &__score {
        color: $p-h-card-score-color;
      }

      &__position {
        color: $p-h-card-position-color;
      }

      &__reward {
        color: $p-h-card-reward-color;
      }
    }
  }
}
