@import "../../../../assets/scss/styles";

$performance-xp-color: #2C2C2C;
$performance-xp-progress-max: $primary;
$performance-xp-progress-bar-color: $primary;
$performance-xp-progress-bg-color: #EEEDF7;
// -------- level
$performance-level-color: #E9436C;
$performance-level-size: 18px;
$performance-level-weight: bold;

.level-card {
  @include box();

  display: flex;
  padding: 13px 20px;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    box-shadow: none;
    background-color: transparent;
    padding: 2rem 0;
  }

  &--xp {
    margin-right: 15px;
    text-align: left;
    flex-grow: 1;

    &__value {
      @include fontSize($fs-m, $fs-l);
      color: $performance-xp-color;
    }

    &__progress {
      position: relative;
      background-color: $performance-xp-progress-bg-color;
      border-radius: 20px;
      margin-top: 13px;
      border: none;
      width: 100%;
      height: 14px;

      span {
        @include fontSize($fs-m);

        position: absolute;
        top: -18px !important;
        right: 0;
        color: $primary;
        font-weight: 500;
        line-height: 16px;
      }
    }
  }

  &--level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    transform: translateY(10px);

    span {
      color: $performance-level-color;
      font-size: $performance-level-size;
      font-weight: $performance-level-weight;
      transform: translateY(-10px);
    }
  }

  &--image {
    width: 48px;
    height: 38px;

    @include desktop {
      height: 63px;
      width: 80px;
    }
  }
}
