@import "../../../../assets/scss/styles";

.profile-performance {
  @include desktop {
    margin-right: 20rem;
  }

  &--title {
    @include fontSize($fs-m, $fs-xxl);

    margin: 20px 0;
    text-align: left;
    color: #2C2C2C;
  }
}
