@import '../../assets/scss/styles.scss';

$explore-input-height-mobile : 55px;
$explore-input-height-desktop : 48px;
$input-border-radius : 1rem;

.explore-root {
  --filter-bg : #fff;
  --border-bottom-color: #00000020;
  --space-x : 2rem;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $bg-login;

  &_box {
    max-width: 600px;
    height: auto;
    background-color: $primary;
  }

  &__overlay {
    position: fixed;
    inset: $desktop-header-height 0 0;
    z-index: 999;
    background: rgba(33, 33, 51, 0.7);
    backdrop-filter: blur(4px);
    display: none;

    &_open {
      display: block;
    }
  }
}

.explore-search-input {
  @include fontSize($fs-m ,$fs-l);

  appearance: none;
  border: none;
  height: $explore-input-height-mobile;
  width: 100%;
  padding : 0 var(--space-x);
  box-shadow: 0 3px 5px rgba(94, 92, 106, 0.1);;

  &:focus {
    outline: none;
  }

  @include desktop {
    height: $explore-input-height-desktop;
    border-radius: $input-border-radius;
    padding-left: 1rem;

    &:focus {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom : 1px solid var(--border-bottom-color);
    }
  }
}

.explore-search-button {
  position: absolute;
  right: var(--space-x);
  top : 50%;
  transform: translateY(-50%);
}

.explore-result-wrapper {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include desktop {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 100%;
    left: 0;
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;

    &_open {
      display: block;
      max-height: 40vh;
      z-index: 1000;
      overflow: auto;
    }
  }
}

.explore-result-header {
  @include fontSize($fs-m, $fs-l);

  padding: 1rem var(--space-x);
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.explore-result-remove {
  @include fontSize($fs-m);

  color : $grey-1;
  cursor: pointer;
}

.explore-result-list {
  flex-grow: 1;
  overflow-y: auto;
}

.explore-result-item {
  @include fontSize($fs-xs , $fs-m);

  display: flex;
  gap: .5rem;
  padding: .5rem 2rem;
  border-bottom: 1px solid var(--border-bottom-color);

  @include desktop {
    border-bottom : none;
  }

  &__title {
    padding-bottom: 5px;
  }

  &__desc {
    color : $grey-1;

    @include desktop {
      @include fsNormal
    }
  }

  &__rate {
    color : $gold;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  &__hashtag {
    position: relative;
    width: var(--avatar-size);
    height:  var(--avatar-size);
    border-radius: 50%;
    border: 1px solid $grey-1;
    display: grid;
    place-items: center;
  }
}

