@import 'assets/scss/styles.scss';

.modal-deactivation {
    padding: 20px 0;
    text-align: center;

    p {
        padding: 15px 30px;
        text-align: center;
    }

    .icon {
        color: $red-2;
        margin: 15px 0 0;
        font-size: 45px;
    }

    .deactivate {
        color: $red-2;
        font-weight: 500;
    }
}
