@keyframes rotateRingAnimation {
    to {
        transform: rotateZ(360deg);
    }
}

.search-for-player {
    background-color: rgba(33, 33, 51, 0.9);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    background-color: rgba(33, 33, 51, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px !important;
        @media (min-width: 1200px) {
            font-size: 20px;
        }
    }
    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
        @media (min-width: 1200px) {
            height: 400px;
        }
        &--ring {
            position: absolute;
            z-index: 1;
            animation: rotateRingAnimation 6s linear infinite;
            @media (min-width: 1200px) {
                height: 100%;
            }
        }
        &--center {
            position: absolute;
            z-index: 0;
            bottom: 7px;
            @media (min-width: 1200px) {
                height: 100%;
            }
        }
    }
    &__cancel-btn {
        margin-top: 90px !important;
        width: 150px !important;
        height: 40px !important;
        border-radius: 8px !important;
        background-color: #f53636 !important;
        color: #fff !important;
        text-transform: capitalize !important;
        font-size: 14px !important;
        @media (min-width: 1200px) {
            width: 195px !important;
            height: 44px !important;
            font-size: 16px !important;
        }
    }
}
