@import "assets/scss/styles.scss";

.leaderboard-list {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(39, 39, 40, 0.1);

  &__header {
    background-color: $bg-seachbox;
    padding: 3px 1rem;
    display: flex;
    justify-content: end;

    @include desktop {
      padding: 10px 4rem;
    }
  }

  &__footer {
    @include fontSize($fs-xs, $fs-m);
    padding: .75rem 0;
    text-align: center;
    color: $primary;
    text-decoration: underline;
    cursor: pointer;

    @include desktop {
      padding: 1.25rem 0;
    }
  }

  &__reward, &__point, &__score {
    @include fontSize($fs-xs, $fs-l);
    display: inline-block;
    min-width: 5em;
    text-align: right;
  }

  &__reward {
    color: $gold;
    margin-left: auto;
  }

  &__point {
    color: $primary
  }

  &__score {
    color: $red-2;
  }
}

.leaderboard-list-item {
  @include fontSize($fs-xs, $fs-l);

  display: flex;
  align-items: center;
  padding: .75em 1rem;
  border-bottom: 1px solid #EEEDF7;

  @include desktop {
    padding: 1rem 20px 1rem 2rem;
  }

  &__index {
    color: $primary;
  }

  &__username {
    flex-grow: 1;
  }

  &__avatar {
    margin: 0 .75rem;
  }

  &__reward, &__point, &__score {
    min-width: 5em;
    text-align: right;
  }

  &__reward {
    color: $gold;
  }

  &__point {
    color: $primary;
  }

  &__score {
    color: $red-2;
  }
}