@import 'assets/scss/styles.scss';

$size-avatar: 30px;
$tabs-max-width: 722px;

.tabPanel {
  width: 100%;
  max-width: $tabs-max-width;
  margin: 0 auto;

  .user-first {
    background-color: white;
    border-radius: 16px;
    height: 60px;

    .index {
      @include fsM;
      min-width: 25px;
    }

    .username {
      @include fsL;
      padding-left: 10px;
    }

    .points {
      @include fsNormal;
      color: $primary;
      font-weight: 500;
      padding-left: 10px;
    }

    .info {
      padding: 15px;
    }

    .bundle {
      @include fsL;

      height: 100%;
      padding: 20px;
      color: white;
      margin-left: auto;
      background-color: $red-1;
      border-radius: 58px 8px 8px 58px;

      position: relative;

      img {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  .subtitle {
    color: $primary;
    padding: 20px 0;
  }

  .avatar {
    @include avatarShape($size-avatar);
  }

  .icon-gift {
    max-height: 15px;
    width: auto;
  }

  ///////////////////////////////////////

  .board {
    padding-top: 20px;

    .subtitle {
      @include fsM;
      color: $red-1;
    }

    .title {
      padding: 20px 0;
      @include fsL;
      font-family: RobotoBold;
    }
  }

  .avatar {
    @include avatarShape($size-avatar);
  }

  .best {
    margin: 30px 0 20px;

    @include desktop {
      margin-top: 85px;
    }

    .best-users {
      display: flex;
      gap: 1rem;
      padding: 0 .75rem;

      @include desktop {
        padding: 0 3rem;
      }

      .user {
        .leaderboard-avatar {
          margin: 0 auto;
        }

        flex-shrink: 1;
        margin: auto;
        padding: 10px;
        width: 88px;
        text-align: center;
        border-radius: 16px;
        background-color: white;
        box-shadow: 0 3px 5px rgba(39, 39, 40, 0.1);

        @include desktop {
          width: 171px;
        }

        .username {
          @include fontSize($fs-xs, $fs-l);
          padding: 5px 0;
        }

        .points {
          @include fontSize($fs-xs, $fs-m);
          color: $primary;
        }

        .reward {
          @include fontSize($fs-s, $fs-l);
          color: $red-1;
        }
      }

      .best-user {
        margin-top: -10px;
      }
    }

    .best-players-level {
      width: 100%;
    }
  }
}


