@import 'assets/scss/styles.scss';

$size-avatar: 30px;

.tabPanel {
    .user-first {
        background-color: white;
        border-radius: 16px;
        height: 60px;

        .index {
            @include fsM;
            min-width: 25px;
        }

        .username {
            @include fsL;
            padding-left: 10px;
        }
        .points {
            @include fsNormal;
            color: $primary;
            font-weight: 500;
            padding-left: 10px;
        }

        .info {
            padding: 15px;
        }

        .bundle {
            @include fsL;

            height: 100%;
            padding: 20px;
            color: white;
            margin-left: auto;
            background-color: $red-1;
            border-radius: 58px 8px 8px 58px;

            position: relative;
            img {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
    .subtitle {
        color: $primary;
        padding: 20px 0;
    }

    .results {
        background-color: white;
        border-radius: 16px;

        .user {
            padding: 15px;

            .index {
                @include fsNormal;
                min-width: 25px;
            }

            .username {
                @include fsM;
                padding-left: 10px;
            }
            .reward {
                @include fsS;
                color: $orange-2;
                margin-left: auto !important;
            }

            .points {
                @include fsS;
                color: $primary;
                margin-left: auto !important;
            }

            .score {
                @include fsS;
                color: $red-1;
                margin-left: auto !important;
            }
        }

        .seemore {
            @include fsNormal;
            padding: 15px;
            color: $primary;
            text-align: center;
        }
    }
    .avatar {
        @include avatarShape($size-avatar);
    }

    ///////////////////////////////////////

    .board {
        padding-top: 20px;

        .subtitle {
            @include fsM;
            color: $red-1;
        }

        .title {
            padding: 20px 0;
            @include fsL;
            font-family: RobotoBold;
        }
    }

    .avatar {
        @include avatarShape($size-avatar);
    }

    .best {
        margin: 30px 0 20px;

        @include desktop {
            margin-top: 85px;
        }

        .best-users {
            .user {
                .leaderboard-avatar {
                    margin: 0 auto;
                    @include desktop {
                        margin-top: -25%;
                    }
                }

                margin: auto;
                padding: 10px;
                width: 100px;
                height: 100px;
                text-align: center;
                border-radius: 16px;
                background-color: white;
                box-shadow: 0px 3px 5px rgba(39, 39, 40, 0.1);

                @include desktop {
                    width: 171px;
                    height: 105px;
                }

                .username {
                    @include fontSize($fs-xs ,$fs-l);
                    padding: 5px 0;
                }

                .points {
                    @include fontSize($fs-xs ,$fs-m);
                    color: $primary;
                    margin-left: auto !important;

                    @include desktop {
                        padding-top: 1.4em;
                    }
                }

                .reward {
                    @include fsS;
                    color: $red-1;
                }
            }

            .best-user {
                margin-top: -10px;
            }
        }

        .best-players-level {
            width: 100%;
        }
    }

    .results {
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 3px 5px rgba(39, 39, 40, 0.1);

        .user {
            padding: 15px;

            .index {
                @include fontSize(8px ,$fs-l);
                min-width: 25px;
                color: $primary;
            }

            .username {
                @include fontSize($fs-xs, $fs-l);
                padding-left: 10px;
            }

            .points {
                @include fontSize(8px ,$fs-l);
                color: $primary;
                margin-left: auto !important;
            }
        }

        .seemore {
            @include fontSize($fs-xs ,$fs-m);
            padding: 15px;
            color: $primary;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $breakpoint-s) {
    .tabPanel {
        .user-first {
            .index {
                @include fsM;
                min-width: 25px;
            }

            .username {
                @include fsM;
                padding-left: 5px;
            }
            .points {
                @include fsS;
                padding-left: 5px;
            }

            .info {
                padding: 10px;
            }

            .bundle {
                @include fsM;

                padding: 10px;

                img {
                    top: 3px;
                    right: 3px;
                }
            }
        }
    }
}
