@import 'assets/scss/styles.scss';

$size-avatar: 30px;

.tabPanel {
    .user-first {
        background-color: white;
        border-radius: 16px;
        height: 60px;

        .index {
            @include fsM;
            min-width: 25px;
        }

        .username {
            @include fsL;
            padding-left: 10px;
        }
        .points {
            @include fsNormal;
            color: $primary;
            font-weight: 500;
            padding-left: 10px;
        }

        .info {
            padding: 15px;
        }

        .bundle {
            @include fsL;

            height: 100%;
            padding: 20px;
            color: white;
            margin-left: auto;
            background-color: $red-1;
            border-radius: 58px 8px 8px 58px;

            position: relative;
            img {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
    .subtitle {
        color: $primary;
        padding: 20px 0;
    }

    .results {
        background-color: white;
        border-radius: 16px;

        .user {
            padding: 15px;

            .index {
                @include fsNormal;
                min-width: 25px;
            }

            .username {
                @include fsM;
                padding-left: 10px;
            }
            .points {
                @include fsS;
                color: $primary;
                margin-left: auto !important;
            }
        }

        .seemore {
            @include fsNormal;
            padding: 15px;
            color: $primary;
            text-align: center;
        }
    }
    .avatar {
        @include avatarShape($size-avatar);
    }

    ///////////////////////////////////////

    .board {
        padding-top: 20px;

        .subtitle {
            @include fsM;
            color: $red-1;
        }

        .title {
            padding: 20px 0;
            @include fsL;
            font-family: RobotoBold;
        }
    }

    .avatar {
        @include avatarShape($size-avatar);
    }

    .best {
        margin: 30px 0 20px;
        .best-users {
            .user {
                margin: auto;
                padding: 10px;
                width: 100px;
                height: 100px;
                text-align: center;
                border-radius: 16px;
                background-color: white;
                box-shadow: 0px 3px 5px rgba(39, 39, 40, 0.1);

                .username {
                    @include fsS;
                    padding: 5px 0;
                }

                .points {
                    @include fsS;
                    color: $primary;
                    margin-left: auto !important;
                }
            }

            .best-user {
                margin-top: -10px;
            }
        }

        .levels {
            margin: 10px 0 0;

            .level {
                width: 35%;
                color: white;
                font-size: 20px;
                font-weight: 900;
                border-radius: 3px;
                text-align: center;
                box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
            }
            .level-1 {
                z-index: 1;
                height: 40px;
                font-size: 25px;
                background-color: $orange-3;
            }

            .level-2 {
                height: 28px;
                margin-right: -5px;
                background-color: $grey-2;
            }

            .level-3 {
                height: 28px;
                background-color: $orange-4;
                margin-left: -5px;
            }
        }
    }

    .results {
        background-color: white;
        border-radius: 16px;

        .user {
            padding: 15px;

            .index {
                @include fsNormal;
                min-width: 25px;
                color: $primary;
            }

            .username {
                @include fsM;
                padding-left: 10px;
            }

            .points {
                @include fsNormal;
                color: $primary;
                margin-left: auto !important;
            }
        }

        .seemore {
            @include fsNormal;
            padding: 15px;
            color: $primary;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $breakpoint-s) {
    .tabPanel {
        .user-first {
            .index {
                @include fsM;
                min-width: 25px;
            }

            .username {
                @include fsM;
                padding-left: 5px;
            }
            .points {
                @include fsS;
                padding-left: 5px;
            }

            .info {
                padding: 10px;
            }

            .bundle {
                @include fsM;

                padding: 10px;

                img {
                    top: 3px;
                    right: 3px;
                }
            }
        }
    }
}
