@import '../../../assets/scss/styles';

.change-avatar-container {
  @include limitContent;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  @include desktop {
    padding: 30px 0;
  }
}

.change-avatar-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000040;
  backdrop-filter: blur(4px);
  border-radius: 4px;
  width: 24px;
  height: 24px;

  @include desktop {
    width: 40px;
    height: 40px;
  }
}