@import "../../../assets/scss/styles";

$mobile-cover-height: 135px;
$desktop-cover-height: 260px;

.change-cover-section {
  position: relative;
  flex: 1 0 $mobile-cover-height;
  background-size: cover;
  background-position: center;

  @include desktop {
    flex-basis: $desktop-cover-height;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
  }

  &__edit, &__delete {
    cursor: pointer;
    position: absolute;
    bottom: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000040;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    width: 24px;
    height: 24px;

    @include desktop {
      width: 40px;
      height: 40px;
      bottom: 1.75rem;
    }
  }

  &__edit {
    right: 1.5rem;

    @include desktop {
      right: 1.75rem
    }
  }

  &__delete {
    right: 3.75rem;

    @include desktop {
      right: 5.3rem;
    }
  }
}