@import "../../../assets/scss/styles";

.edit-header {
  display: flex;
  height: 47px;
  justify-content: space-between;
  padding: 6px 1.5rem;
  z-index: 1;

  @include desktop {
    display: none;
  }

  &__left-side {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }

  &__text {
    font-size: $fs-m;
  }
}
