@import 'assets/scss/styles.scss';

.leagues {
  @include limitContent;

  .leagues-header {
    @include stickyHeader;
    height: $mobile-header-height;
    display: grid;
    place-items: center;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

    @include desktop {
      display: none;
    }
  }

  .leagues-body {
    padding: 0 1.5rem 45px;

    @include desktop {
      height: 100% !important;
    }

    .leagues-title, .leagues-subtitle {
      padding: 1rem 0 .5rem;

      @include desktop {
        padding: 2rem 0 1rem;
      }
    }

    .leagues-title {
      @include fontSize($fs-m, $fs-xxl);
    }

    .leagues-subtitle {
      @include fontSize($fs-normal, $fs-m);
      color: $grey-1 !important;
    }

    .empty-list {
      @include fsNormal;
      padding: 30px;
      color: colorBlack(50);
      text-align: center;
    }
  }
}
