@import "assets/scss/styles.scss";

$see-more-color: $primary;
$see-more-size: 10px;
$see-more-weight: 500;

.performance-content-section {
  &--contents {
    @include box;
    margin-top: 12px;
    padding: 15px 0;
    &__footer {
      text-align: center;
      a {
        width: 100%;
        height: 100%;
        padding: 12px auto;
        color: $see-more-color;
        font-size: $see-more-size;
        font-weight: $see-more-weight;
        text-decoration: underline !important;
      }
    }
  }
}
