@import 'assets/scss/styles.scss';

$size-avatar: 60px;
$padding-left: 28px;
$drawer-menu-width: 220px;

.menu {
    width: $drawer-menu-width;

    .menu-header {
        padding: 50px $padding-left 30px;
        background-color: $primary;

        .name, .level {
            @include fsXS;
            padding-left: 3px;
            color: white;
        }

        .level {
            font-family: RobotoThin, serif;
            font-weight: 600;
        }

        .close {
            margin-top: 0 !important;

            .icon {
                color: white;
                font-size: 35px;
            }
        }
    }
    .menu-body {
    }

    .menu-item {
        padding: 1rem $padding-left;

        .icon {
            min-width: 28px;
            color: colorBlack(70);
            cursor: pointer;
        }

        p {
            @include fsM;

            margin-left: 10px;
            color: colorBlack(70);
            cursor: pointer;
        }
    }

    .deactivation {
        padding-top: 20px;
        p,
        .icon {
            color: $red-2;
        }
    }
}
