@import 'assets/scss/styles.scss';

$size-avatar: 60px;
$padding-left: 40px;

.menu {
    .menu-header {
        padding: 50px $padding-left 30px;
        background-color: $primary;

        .avatar {
            width: $size-avatar;
            height: $size-avatar;
            border-radius: 100%;
            background: wheat;
            border: 1px solid white;
        }

        .name {
            @include fsM;

            padding: 15px 0 5px;
            color: white;
            font-family: RobotoBold;
        }

        .level {
            @include fsNormal;

            color: white;
        }

        .close {
            margin-top: 0 !important;
            margin-top: 0 !important;

            .icon {
                color: white;
                font-size: 35px;
            }
        }
    }
    .menu-body {
    }

    .menu-item {
        padding: 20px $padding-left;

        .icon {
            // min-width: 40px;
            color: colorBlack(70);
            cursor: pointer;
        }

        p {
            @include fsXL;

            margin-left: 10px;
            color: colorBlack(70);
            cursor: pointer;
        }
    }

    .deactivation {
        padding-top: 20px;
        p,
        .icon {
            color: $red-2;
        }
    }
}
