@import 'assets/scss/styles.scss';

$star-icons-size: 10px;
$ft-card-image-height: 94px;
$ft-card-height: 141px;

.favorite-card-2--item {
 @include box;
  height: $ft-card-height;
  &__image {
    img {
      width: 100%;
      height: $ft-card-image-height;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  &__content{
    text-align: left;
    padding: 4px 5px;
    &__title {
      line-height: 14px;
      color: $text-dark;
      font-size: 12px;
      font-weight: normal;
      line-height: 12px;
      height: 25px;
      overflow: hidden;
    }
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__quesplays {
        color: $text-footer;
        font-size: 8px;
        font-weight: normal;
      }
      &__rating {
        display: flex;
        align-items: center;
        color: $gold;
        font-size: 8px;
        font-weight: normal;
        img {
          width: $star-icons-size;
          height: $star-icons-size;
          margin-right: 4px;
        }
      }
    }
  }
}
